* {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
}
header {
  width: 100%;
  height: 40px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 2px 2px 1px #d9d9d9;
  z-index: 20;
}
header .left-side,
.right-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin: 0 20px;
}
header .logo {
  margin-top: 6px;
}

header h3 {
  font-size: 14px;
  color: black;
}
header a {
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}

header .menu-img,
.search-icon-image {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

header button {
  color: white;
  background-color: #326891;
  border-radius: 5px;
  font-weight: bolder;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
}
.main-content {
  position: absolute;
  top: 50px;
  width: 100%;
  margin: 0 auto;
}
.main-content .title-area {
  width: 40%;
  margin: 0 auto;
}
.title-area h1 {
  font-size: 2.5rem;
  font-style: italic;
}
.title-area hr {
  border: 0.3px solid #ebebeb;
}
.social-media-icons ul li {
  list-style: none;
  color: black;
  font-size: 1.1rem;
  background-color: #ebebeb;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}
.social-media-icons ul li a {
  text-decoration: none;
  color: black;
}
.social-media-icons ul li a:hover {
  background-color: #d9d9d9;
}
.social-media-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.social-media-icons ul {
  display: inline-block;
  display: flex;
  text-align: left;
}
.social-media-icons .login-and-comments {
  display: flex;
  gap: 20px;
  margin: 10px 0 0 20px;
}
.hero-area {
  margin: 20px auto 150px auto;
}
.hero-area .hero-img {
  width: 80vw;
  height: 60vh;
  margin: 0 auto;
}
.hero-area img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
/* .hero-area figcaption{
  width: 60%;
} */

.hero-area figcaption {
  width: 75%;
  font-family: nyt-imperial, Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #666;
  text-align: left;
  margin: 10px 20px 0;
}
.hero-area .rick {
  color: #888;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: smaller;
}
.cambridge {
  width: 60vh;
  margin: 0 auto;
  text-align: left;
}
.author {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  color: black;
}
.free-articles {
  width: 40%;
  text-align: center;
  margin: 10px auto;
}
.free {
  margin: 0;
}

/* to be corrected  */

.article-hr {
  border: 1px solid #d9d9d9;
  margin: 0 auto;
  width: 20%;
}
p {
  margin: 15px 0;
}

.free-article-anchor {
  text-decoration: none;
  color: #326891;
}
.p-anchor {
  color: #326891;
}

.p-anchor:hover {
  text-decoration: none;
}
.editors-picks {
  width: 300px;
  position: absolute;
  right: 5%;
  top: 70%;
}

.editors-picks img {
  width: 100%;
}

.cambridge-section {
  position: relative;
  margin: 0 5%;
}

.editors-picks figure {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  margin-bottom: 15px;
}
.the-theory-of-inflation {
  /* background-color: red; */
  position: relative;
  width: 65vw;
  height: 65vh;
  margin: 0 auto;
  text-align: left;
}

.inflation-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 90%;
  /* background-color: red; */
}

.subcontainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 47%;
  /* background-color: green; */
}

.sub-subcontainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 24%;
  /* background-color: blueviolet; */
}

.top-image {
  height: 50%;
  width: 100%;
  /* background-color: teal; */
}

.bottom-text {
  height: 50%;
  width: 100%;
  font-size: 12px;
  padding-top: 20px;
  /* background-color: seagreen; */
  text-align: justify;
}

.inflation-image {
  width: 100%;
  height: 100%;
}
.the-theory-of-inflation hr {
  margin-left: 0px;
}
.article-section {
  margin-bottom: 100px;
}

.cooking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

iframe {
  width: 100%;
  height: 300px;
}

.youtube-video {
  margin: 0 auto;
}

.youtube-video .smaller,
.smaller {
  font-size: smaller;
}
.cooking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

iframe {
  width: 100%;
  height: 300px;
}

.youtube-video {
  margin: 0 auto;
}

.youtube-video .smaller,
.smaller {
  font-size: smaller;
}
.spiral {
  width: 100%;
  height: 300px;
}
.comments {
  padding: 10px 40px;
  border-radius: 5px;
  border: none;
  background-color: #326891;
  color: white;
  font-weight: 650;
}

.comments-container .icons li {
  list-style: none;
  background-color: #d9d9d9;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 8px;
}

.comments-container .icons {
  display: flex;
}

.comments-container {
  display: flex;
  align-items: center;
}
.space-and-astro {
  width: 75%;
  padding: 5%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
  text-align: left;
  margin: 0 auto;
}

.space-and-astro .figures {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.space-and-astro img {
  width: 100%;
  cursor: pointer;
}


.most-popular ul li {
  
  font-size: x-large;
  border-top: 1px solid #acaaaa;
  padding: 15px 0;
}

.tick-line {
  border: 1px solid black;
}
