/* styling the root element */

html {
    box-sizing: border-box;
}


/* styling the body element */

body {
    background-color: whitesmoke;
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
    font-size: 1rem;
    line-height: 1.4;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
}


/* style the nav bar, add box shadow, apply flex to the navigation bar */

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    box-shadow: 1px 3px 3px 1px #d9d9d9;
    z-index: 10;
}


/* apply flex to the left and right side of the navigation bar */

.left,
.right {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: auto 10px;
}


/* apply spaces inbetween the nav items */

.nav-items {
    margin: auto 5px;
}


/* style the space & cosmos anchor */

.space {
    text-decoration: none;
    color: black;
    font-weight: 700;
}


/* add styles to the button and text */

.btn {
    border-radius: 5px;
    border: none;
    background-color: #326891;
    color: white;
    font-weight: 650;
    padding: 3px;
}


/* vertically align the times logo */

.times-logo {
    align-self: center;
}


/* style the header */

header {
    position: relative;
    top: 50px;
    margin: 0 auto;
    font-style: italic;
    width: 40%;
}

hr {
    border: 0.5px solid #ebebeb;
}


/* add style to social media icons */

.social-media {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-content: center;
}


/* add space to social media icons */

.social-media-images {
    margin: 0 5px;
    background-color: transparent;
}


/* add style to the hero area container */

.hero-area {
    width: 70vw;
    height: 60vh;
    margin: 80px auto 280px auto;
}


/* add size to the hero image */

.hero-img {
    width: 100%;
    height: auto;
}


/* add style to the article */

.cambridge {
    width: 60vh;
    margin: 0 auto;
    text-align: justify;
}


/* add style to the author */

.author {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: black;
}


/* add style to the free article section  */

.free-articles {
    width: 40%;
    text-align: center;
    margin: 10px auto;
}

.free {
    margin: 0;
}

.spiral {
    width: 100%;
    height: 300px;
}


/* to be corrected  */

.article-hr {
    border: 1px solid #d9d9d9;
    margin: 0 auto;
    width: 20%;
}

p {
    margin: 15px 0;
}

.free-article-anchor {
    text-decoration: none;
    color: #326891;
}

.p-anchor {
    color: #326891;
}

.p-anchor:hover {
    text-decoration: none;
}

.the-theory-of-inflation {
    /* background-color: red; */
    position: relative;
    width: 65vw;
    height: 65vh;
    margin: 0 auto;
    text-align: left;
}

.inflation-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 90%;
    /* background-color: red; */
}

.subcontainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 47%;
    /* background-color: green; */
}

.sub-subcontainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 24%;
    /* background-color: blueviolet; */
}

.top-image {
    height: 50%;
    width: 100%;
    /* background-color: teal; */
}

.bottom-text {
    height: 50%;
    width: 100%;
    font-size: 12px;
    padding-top: 20px;
    /* background-color: seagreen; */
    text-align: justify;
}

.inflation-image {
    width: 100%;
    height: 100%;
}


/* This to create spacing between the two sections */

.article-section {
    margin-bottom: 100px;
}

.cooking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

iframe {
    width: 100%;
    height: 300px;
}

.youtube-video {
    margin: 0 auto;
}

.youtube-video .smaller,
.smaller {
    font-size: smaller;
}

.comments {
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    background-color: #326891;
    color: white;
    font-weight: 650;
}

.comments-container .icons li {
    list-style: none;
    background-color: #d9d9d9;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 8px;
}

.comments-container .icons {
    display: flex;
}

.comments-container {
    display: flex;
    align-items: center;
}

.space-and-astro {
    padding: 5%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
    text-align: left;
}

.space-and-astro .figures {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.space-and-astro img {
    width: 100%;
    cursor: pointer;
}

.most-popular li {
    font-size: x-large;
    border-top: 1px solid #d9d9d9;
    padding: 10px 0;
}

.tick-line {
    border: 1px solid black;
}

footer {
    padding: 0 5%;
}

footer .content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: left;
}

footer .content .subscribe {
    border-left: 1px solid #d9d9d9;
    padding-left: 10px;
}

footer li:hover {
    text-decoration: underline;
}

footer h3 {
    font-weight: 700;
    font-size: 1.2rem;
    padding: 5px;
}

footer .thick-line {
    border-top: 2px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    height: 1px;
}

footer .copyright {
    display: flex;
    justify-content: center;
}

footer .copyright ul {
    display: flex;
    justify-content: space-around;
}

footer .copyright li {
    margin: 10px 12px;
}

.editors-picks {
    width: 300px;
    position: absolute;
    right: 10%;
    top: 70%;
}

.editors-picks img {
    width: 100%;
}

.cambridge-section {
    position: relative;
    margin: 0 5%;
}

.editors-picks figure {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin-bottom: 15px;
}

.the-theory-of-inflation hr {
    margin-left: 0px;
}